/* HAMBURGER MENU */
@media (max-width: 848px) {
  #desktop-nav {
    display: none;
  }
  /* note: display:none hides content for screenreader, too  */
  #hamburger-nav {
    display: flex;
  }
}
.hamburger-icon[aria-expanded="true"] {
  color: black;
}
.js-enabled .menu-links {
  display: none;
}
.hamburger-icon[aria-expanded="true"] svg {
  background: #164a4a;
  fill: white;
}
.hamburger-icon[aria-expanded="true"] span {
  position: static;
}
.hamburger-icon[aria-expanded="true"] #expanded {
  display: block;
}
.hamburger-icon[aria-expanded="true"] + .menu-links {
  display: block;
}

@media (min-width: 848px) {
  .js-enabled .menu-links {
    display: block;
  }
}

@media (min-width: 849px) {
  #hamburger-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
  }
}

/* Extra small screens: */
@media (max-width: 576px) {
  .arrow {
    display: none;
  }

  .menu-links a {
    font-size: 2rem;
  }

  /*  PROFILE SECTION  */

  .logo {
    font-size: 1.5rem;
  }

  section {
    margin: 0 5%;
  }

  section,
  .section-container {
    height: fit-content;
  }

  main {
    display: block;
  }

  .section__pic-container {
    display: none;
  }

  #socials-container {
    margin-top: 1.5rem;
  }

  /*  ABOUT SECTION  */

  .about-details-container {
    flex-direction: column;
  }

  .about-text-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .about-containers {
    display: block;
  }

  .text-container {
    width: 100%;
  }

  .details-container {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /*  PROJECTS SECTION  */

  #projects,
  #contact {
    height: fit-content;
  }

  .experience-details-container {
    margin-top: 2rem;
  }
}

/* 
Small:
@media (min-width: 576px)

Large
@media (min-width: 992px)

Medium Screens 
@media screen and (min-width: 768px)

Extra Large Screens 
@media screen and (min-width: 1200px)

Extra Extra Large Screens 
@media screen and (min-width: 1400px)

*/
